@import "tailwindcss";
@media (max-width: 639px) {
    .custom-gallery-item {
      width: 100%;
    }
  }
  
  @media (min-width: 640px) and (max-width: 767px) {
    .custom-gallery-item {
      width: 50%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .custom-gallery-item {
      width: 33.3333%;
    }
  }
  
  @media (min-width: 1024px) {
    .custom-gallery-item {
      width: 25%;
    }
  }
  